.container_card {
    padding: 0 20px;
    margin: 0 auto;
    width: 1024px;
}

.row_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.col_4 {
    display: flex;
    flex-wrap: wrap;
}