.card_box {
    padding: 10px;
    display: flex;
}

.card {
    border: solid 1px rgb(173, 198, 252);
    border-radius: 5px;
    padding: 15px;
    height: 100%;
}

.link {
    background-color: rgb(27, 24, 59);
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 5px;
}

.img {
    width: 100%;
    height: 400px;
}

.title {
    font-weight: 800;
    font-size: 1.5rem;
}

.director {
    font-style: italic;
    color: rgb(57, 55, 65);
    margin-bottom: 10px;
}

p {
    font-size: 12px;
    margin-bottom: 10px;
}

.avg_vote {
    margin-bottom: 10px;
    font-size: 12px;
}

.col_4 {
    flex-wrap: wrap;
}